body{
    margin: 0px;
    border: 0px;
    cursor: pointer;
}

#main{
    /* border: 2px solid black; */
    padding: 10px auto;
}

.swid{
    width: 1440px;
}

.bwid{
    width: 1720px;
}

#title{
    text-align: left;
    height: 22px;
    line-height: 22px;
    background-color: mistyrose;
}

#title span{
    display: inline-block;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: rgb(15, 148, 189);
    padding: 0px 40px 0px 10px;
}

#title button{
    height: 22px;
    padding: 0px 10px;
    margin: 0px;
    font-size: 14px;
}

#filelist{
    display: inline-block;
    height: 720px;
    width: 280px;
    overflow: hidden;
}

#list{
    overflow:auto;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

#list li:hover{
    background-color: cornflowerblue;
}

#filelist li{
    list-style: none;
    width: 280px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    margin: 2px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    text-align: left;
    background-color: rgb(188, 222, 224);
    overflow: hidden;
}

#showli{
    display: inline-block;
    /* border: 1px solid black; */
    margin: 0px;
    margin-top: 10px;
    width: 20px;
    height: 710px;
    line-height: 710px;
    overflow: auto;
    text-align: center;
    background-color: rgb(168, 205, 223);
}

#showli:hover{
    background-color: cornflowerblue;
}

#edit{
    display: inline-block;
    /* border: 1px solid black; */
    width: 680px;
    height: 720px;
    margin: 0px 0px 0px 10px;
}

#editArea{
    display: block;
    font-size: 16px;
    width: 660px;
    height: 700px;
    margin: 0px;
    padding: 10px;
    max-height: 700px;
    min-height: 700px;
    max-width: 660px;
    min-width: 660px;
}

#list .editnow{
    background-color: cornflowerblue;
}

#html{
    display: inline-block;
    /* border: 1px solid black; */
    width: 680px;
    height: 700px;
    padding: 10px;
    margin: 0px 0px 0px 10px;
    background-color: rgb(216, 231, 188);
    overflow: auto;
}

#html *{
    width: 650px;
    /* margin: 0px;
    padding: 0px; */
}

#html hr{
    width: 650px;
}

#html h1{
    text-align: center;
}

#html h1,h2,h3,h4,h5,h6{
    width: 650px;
}

#html p{
    width: 650px;
}

#html li{
    width: 650px;
}

#html pre{
    width: 650px;
}